.jumbotron {
  text-align: center;
}
/*
body {
  background: url(img/background.jpeg);
  height: 100%;
  width: 100%;
}
*/
.questionnaire {
  display: none;
}

.q2Page, .q3Page, .q4Page, .q5Page, .finalPage {
  display: none;
}
