.jumbotron {
  text-align: center;
  margin-top: 10px;
}

body {
  background-image: url("../img/background.jpeg");
  color: white;
}

.jumbotron {
  color: black;
}

.questionnaire {
  display: none;
}

.q2Page, .q3Page, .q4Page, .q5Page, .finalPage, .ruby, .java, .csharp, .php {
  display: none;
}
